In [1]:
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsAlone,Family size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.0,1

In [5]:
train.shape

(891, 14)

In [7]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,IsAlone,Family size
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,888.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.397523,1.904602
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.489661,1.613459
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000,1.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000,1.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000,2.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,11.000000

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
IsAlone        888 non-null float64
Family size    891 non-null int64
dtypes: float64(3), int64(6), object(5)
memory usage: 97.5+ KB

In [9]:
train.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsAlone,Family size
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False
5,False,False,False,False,False,True,False,False,False,False,True,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False,False,False
8,False,False,False,False,False,False,False,False,False,False,True,False,False,False
9,False,False,False,False,False,False,False,False,False,False,True,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False,False,False
13,False,False,False,False,False,False,False,False,False,False,True,False,False,False
14,False,False,False,False,False,False,False,False,False,False,True,False,False,False
15,False,False,False,False,False,False,False,False,False,False,True,False,False,False
16,False,False,False,False,False,False,False,False,False,False,True,False,False,False
17,False,False,False,False,False,True,False,False,False,False,True,False,False,False
18,False,False,False,False,False,False,False,False,False,False,True,False,False,False
19,False,False,False,False,False,True,False,False,False,False,True,False,False,False
20,False,False,False,False,False,False,False,False,False,False,True,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,True,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,True,False,False,False
25,False,False,False,False,False,False,False,False,False,False,True,False,False,False
26,False,False,False,False,False,True,False,False,False,False,True,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,True,False,False,False,False,True,False,False,False
29,False,False,False,False,False,True,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,False,False,False,False,False,False,False,False,False,False,True,False,False,False
862,False,False,False,False,False,False,False,False,False,False,False,False,False,False
863,False,False,False,False,False,True,False,False,False,False,True,False,False,False
864,False,False,False,False,False,False,False,False,False,False,True,False,False,False
865,False,False,False,False,False,False,False,False,False,False,True,False,False,False
866,False,False,False,False,False,False,False,False,False,False,True,False,False,False
867,False,False,False,False,False,False,False,False,False,False,False,False,False,False
868,False,False,False,False,False,True,False,False,False,False,True,False,False,False
869,False,False,False,False,False,False,False,False,False,False,True,False,False,False
870,False,False,False,False,False,False,False,False,False,False,True,False,False,False
871,False,False,False,False,False,False,False,False,False,False,False,False,False,False
872,False,False,False,False,False,False,False,False,False,False,False,False,False,False
873,False,False,False,False,False,False,False,False,False,False,True,False,False,False
874,False,False,False,False,False,False,False,False,False,False,True,False,False,False
875,False,False,False,False,False,False,False,False,False,False,True,False,False,False
876,False,False,False,False,False,False,False,False,False,False,True,False,False,False
877,False,False,False,False,False,False,False,False,False,False,True,False,False,False
878,False,False,False,False,False,True,False,False,False,False,True,False,False,False
879,False,False,False,False,False,False,False,False,False,False,False,False,False,False
880,False,False,False,False,False,False,False,False,False,False,True,False,False,False
881,False,False,False,False,False,False,False,False,False,False,True,False,False,False
882,False,False,False,False,False,False,False,False,False,False,True,False,False,False
883,False,False,False,False,False,False,False,False,False,False,True,False,False,False
884,False,False,False,False,False,False,False,False,False,False,True,False,False,False
885,False,False,False,False,False,False,False,False,False,False,True,False,False,False
886,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False,True,False
890,False,False,False,False,False,False,False,False,False,False,True,False,True,False

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
IsAlone          3
Family size      0
dtype: int64

In [12]:
train.isnull().sum()/891

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
IsAlone        0.003367
Family size    0.000000
dtype: float64

In [13]:
train['Age'].median()

28.0

In [19]:
train['Age'] = train['Age'].fillna(train['Age'].median())

In [20]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
IsAlone          3
Family size      0
dtype: int64

In [21]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [24]:
train['Embarked'].mode()

0    S
dtype: object

In [28]:
train['Embarked']=train['Embarked'].fillna('S')

In [29]:
train['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [30]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
IsAlone          3
Family size      0
dtype: int64

In [31]:
train['Cabin']=train['Cabin'].fillna('Missing')

In [32]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
IsAlone        3
Family size    0
dtype: int64

In [37]:
train.groupby('Pclass').mean()['Age']

Pclass
1    36.812130
2    29.765380
3    25.932627
Name: Age, dtype: float64

In [38]:
train.groupby('Sex').mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,IsAlone,Family size
Sex,,,,,,,,,
female,431.028662,0.742038,2.159236,27.929936,0.694268,0.649682,44.479818,0.597444,2.343949
male,454.147314,0.188908,2.389948,30.140676,0.429809,0.235702,25.523893,0.288696,1.665511

In [39]:
train.groupby('Sex').sum()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,IsAlone,Family size
Sex,,,,,,,,,
female,135343,233,678,8770.00,218,204,13966.6628,187.0,736
male,262043,109,1379,17391.17,248,136,14727.2865,166.0,961

In [40]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [41]:
233/314

0.7420382165605095

In [42]:
109/577

0.18890814558058924